@import url('https://fonts.googleapis.com/css?family=Arapey');

body {
  margin: 0;
  font-family: 'Arapey';
}
h1 {
  font-size: 2em;
  text-align: center;
  margin-top: 30%;
}
section {
  padding: 3em;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  display: flex;
}

section:nth-child(odd) {
  background: #f1f1f1;
}
.sticky {
  background: white !important;
  display: flex;
}

.percentage {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

#box {
  width: 100px;
  height: 100px;
  position: absolute;
  border: 5px solid lightgray;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
}

/*Start of the overlap animation*/
.rectangle1 {
  background-color: #AAE0F9;
  height: 380px;
  width: 700px;
  margin-left: 150px;
  position: absolute;
  border-radius: 3px;
}

.rectangle2 {
  background-color: #FED77D;
  height: 380px;
  width: 700px;
  position: absolute;
  margin: 140px 0 0 450px;
  border-radius: 3px;
  mix-blend-mode: darken;
}

/*Education Components*/

.education {
  position: absolute;
  margin-top: -30px;
  margin-left: 182px;
  border-radius: 5px;
}

.eduText{
  margin: 20px 40px 40px 180px;
  font-style: italic;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
}
.eduTextDesc {
  position: absolute;
  font-size: 0.9em;
  margin: 60px 40px 40px 180px;
}

/*Writing Components*/
.writing {
  border-radius: 5px;
  position: absolute;
  margin-top: 310px;
  margin-left: 900px;
}

.writingText {
  margin: 330px 0 0 895px;
  font-weight: bold;
  font-size: 25px;
  font-style: italic;
  position: absolute;
}
.writingTextDesc {
  position: absolute;
  font-size: 0.9em;
  margin: 370px 40px 40px 895px;
}
/*Writing About Components*/
.writingabtedu {
  border-radius: 5px;
  position: absolute;
  margin-top: 170px;
  margin-left: 539px;
  z-index: 1;
}

.writingAbtText {
  margin: 195px 0px 0px 530px;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  position: absolute;
}

.writingAbtTextDesc {
  position: absolute;
  font-size: 0.9em;
  margin: 235px 40px 40px 535px;
}

.animationWrapper{
  margin-top: 150px;
}
/*End of the overlap animation*/